MarchalBodin/InterMag/EnvoyerCommande/Service References/IntermagService/IntermagService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IntermagService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://emmanuel-pc:8001/InterMagService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://emmanuel-pc:8001/InterMagService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIntermagService_CreateCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCommand" />
  </wsdl:message>
  <wsdl:message name="IIntermagService_CreateCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCommandResponse" />
  </wsdl:message>
  <wsdl:message name="IIntermagService_SetDoRef_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDoRef" />
  </wsdl:message>
  <wsdl:message name="IIntermagService_SetDoRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDoRefResponse" />
  </wsdl:message>
  <wsdl:message name="IIntermagService_IsAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAlive" />
  </wsdl:message>
  <wsdl:message name="IIntermagService_IsAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAliveResponse" />
  </wsdl:message>
  <wsdl:message name="IIntermagService_deleteUserSession_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteUserSession" />
  </wsdl:message>
  <wsdl:message name="IIntermagService_deleteUserSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteUserSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IIntermagService_killUser_InputMessage">
    <wsdl:part name="parameters" element="tns:killUser" />
  </wsdl:message>
  <wsdl:message name="IIntermagService_killUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:killUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IIntermagService">
    <wsdl:operation name="CreateCommand">
      <wsdl:input wsam:Action="http://tempuri.org/IIntermagService/CreateCommand" message="tns:IIntermagService_CreateCommand_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IIntermagService/CreateCommandResponse" message="tns:IIntermagService_CreateCommand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDoRef">
      <wsdl:input wsam:Action="http://tempuri.org/IIntermagService/SetDoRef" message="tns:IIntermagService_SetDoRef_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IIntermagService/SetDoRefResponse" message="tns:IIntermagService_SetDoRef_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <wsdl:input wsam:Action="http://tempuri.org/IIntermagService/IsAlive" message="tns:IIntermagService_IsAlive_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IIntermagService/IsAliveResponse" message="tns:IIntermagService_IsAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteUserSession">
      <wsdl:input wsam:Action="http://tempuri.org/IIntermagService/deleteUserSession" message="tns:IIntermagService_deleteUserSession_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IIntermagService/deleteUserSessionResponse" message="tns:IIntermagService_deleteUserSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="killUser">
      <wsdl:input wsam:Action="http://tempuri.org/IIntermagService/killUser" message="tns:IIntermagService_killUser_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IIntermagService/killUserResponse" message="tns:IIntermagService_killUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="binding1_IIntermagService" type="tns:IIntermagService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCommand">
      <soap:operation soapAction="http://tempuri.org/IIntermagService/CreateCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDoRef">
      <soap:operation soapAction="http://tempuri.org/IIntermagService/SetDoRef" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <soap:operation soapAction="http://tempuri.org/IIntermagService/IsAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUserSession">
      <soap:operation soapAction="http://tempuri.org/IIntermagService/deleteUserSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="killUser">
      <soap:operation soapAction="http://tempuri.org/IIntermagService/killUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IntermagService">
    <wsdl:port name="binding1_IIntermagService" binding="tns:binding1_IIntermagService">
      <soap:address location="http://emmanuel-pc:8001/InterMagService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>