MarchalBodin/VerrouillageDoc/Service References/IntermagService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetDb" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCommandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCommandResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDoRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientPiece" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetDatabase" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fournPiece" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDoRefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetDoRefResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToggleVerrou">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="db" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="doPiece" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToggleVerrouResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ToggleVerrouResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUserSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cbSession" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUserSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteUserSessionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="killUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ntUseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hostProcess" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cbSession" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="killUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="killUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>